{% extends 'base.html.twig' %}


{% block body %}

    {% for evRcvl in evRcvls %}
        <h1>{{ evRcvl.title }}</h1><br>
        <div class="row center-block row-diners">
            {% for evenement in evenements %}

                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="thumbnail" id="thumbnail-membre">
                        <div class="caption">
                            <h4>{{ evenement.title }}</h4>
                            <p>{{ evenement.paragraph|raw }}</p>
                            <br>
                            <a id="btn-photo" href="{{ path('evenements_show', { 'id': evenement.id }) }}"><p>Plus d'infos<span class="glyphicon glyphicon-share-alt"></span></p></a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endfor %}


{% endblock %}
